.venv/
__pycache__/
*.egg-info/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
dist/
build/
*.csv
!examples/data/*.csv

# Notebooks
notebooks/ProteinAbundances.csv
notebooks/meta_data.csv

# Data files you don't want public
*.mat
*.xlsx

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/