.venv/
__pycache__/
*.egg-info/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
dist/
build/
*.csv
!examples/data/*.csv

# Notebooks
notebooks/

# tests
tests/

#notes
docs/notes

# examples
examples/

# Data files you don't want public
*.mat
*.xlsx

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/
examples/data/ProteinAbundances.csv 

